# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Eclipse
.settings/
.apt_generated/
.classpath
.project
.metadata
.pmd
.pmdruleset.xml
.fbExcludeFilterFile
.checkstyle

# IntelliJ
*.iml
.idea/

# Other
bin/
obj/
overlays

# Compiled class file
*.class

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Files
**/*.epoch
**/*.log
**/node_modules/
PersonalServer.jar

# SonarQube
.sonarqube/

# spring bean files
*.springBeans